<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971700125899-2839444j39c9g8qv85f0h1hv86n2iiri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971700125899-2839444j39c9g8qv85f0h1hv86n2iiri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>971700125899-dn6cire1j35gkjptber69427trcrte0b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXObGZgITnExeI0yIbYi9bPk5ycjj5AdU</string>
	<key>GCM_SENDER_ID</key>
	<string>971700125899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lauren.lpersonalwellness</string>
	<key>PROJECT_ID</key>
	<string>personalwellness-192da</string>
	<key>STORAGE_BUCKET</key>
	<string>personalwellness-192da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971700125899:ios:62535dea8d199ebb0f9b4e</string>
</dict>
</plist>